* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    display: table;
    margin: auto;
}

body {
    
    background-color: rgb(0, 0, 0);
    font-family: 'Cyberpunk is not dead', sans-serif;
    color: #00e1ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#calculator {
    display: flex;
    border: 2px solid #00e1ff;
    width: 350px;
    height: 400px;
    overflow: hidden;
    background-color: #ffee00;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 3px;
    padding: 10px;
}


#userInput {
    display: flex;
    flex-wrap: wrap;
     border: 2px solid #050505;
    width: 350px;
    height: 50px;
    overflow: hidden;
    background-color: #050505;
    font-size: xx-large;
    border-radius: 3px;
    padding: 10px;
    color: #00e1ff;
    
}

#memory {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #ffee00;
    width: 200px;
    height: 400px;
    color: black;
    border-top: 2px solid #00e1ff;
    border-right: 2px solid #00e1ff;
    border-bottom: 2px solid #00e1ff;
    border-radius: 3px;
}

#memoryLog {
    flex: 1;
    overflow-y: auto;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px; 
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

#memoryWipe {
    align-self: flex-end;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    align-self: flex-end;
}



#memoryWipe img {
    width: 100%;
    height: 100%;
    display: block;
}

#memoryLog::-webkit-scrollbar {
    width: 8px;
}

#memoryLog::-webkit-scrollbar-track {
    background: #ffee00;
    border-radius: 10px;
}

#memoryLog::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #00e1ff, #00bfff);
    border-radius: 10px;
}

#memoryLog::-webkit-scrollbar-thumb:hover {
    background: #00ffff; 
}

#container {
    display: flex;
    flex-direction: row-reverse;
    
}

.h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cyberpunk is not dead', sans-serif;
    color: #00e1ff;
    margin: 0;
    text-shadow: 3px 3px 4px rgba(247, 3, 117, 0.5);
    padding-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    width: 50px;
    font-size: 15px; 
    background-color: #000000; 
    color: #00e1ff; 
    border: none; 
    cursor: pointer; 
    font-family: 'Cyberpunk is not dead', sans-serif;
     border-radius: 10px;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     text-align: center;
     
    
 }
   
 button:hover {
     background-color: #00e1ff;
     color: #000000;
 }

 #add, #subtract, #multiply, #divide, #decimal  {
    color: #ff7300;
    font-size: 30px;
    
}


#equals {
    color: rgb(255, 255, 255);
    
}

#clear {
    width: 100px;
}

#backSpace {
    width: 150px;
}


.operatorButton {
    margin: 0 5px;
}
